language: python
sudo: required
dist: trusty
python:
  - "2.7"
install:
  - pip install .
  - pip install flake8 coverage
  - sudo modprobe ip_vs
script:
  - flake8 .
  - sudo bash -c "source ${HOME}/virtualenv/python${TRAVIS_PYTHON_VERSION}/bin/activate && nosetests -v --with-coverage tests"
